/_site
Gemfile.lock
/.idea
/*.iml

# commit minimum dependencies
/dist/**/*.map
/dist/bootstrap
/dist/jquery
/dist/bootstrap-datepicker/*
!/dist/bootstrap-datepicker/dist
/dist/bootstrap-datepicker/dist/locales
/dist/bootstrap-treeview/*
!/dist/bootstrap-treeview/dist
/dist/jQuery-QueryBuilder/*
!/dist/jQuery-QueryBuilder/dist
/dist/jQuery-QueryBuilder/dist/scss
/dist/microplugin
/dist/modernizr
/dist/moment/*
!/dist/moment/min
/dist/moment/min/*
!/dist/moment/min/moment.min.js
/dist/seiyria-bootstrap-slider/*
!/dist/seiyria-bootstrap-slider/dist
/dist/selectize/*
!/dist/selectize/dist
/dist/selectize/dist/less
/dist/sifter
/dist/jquery-bridget
/dist/jquery-extendext
/dist/awesome-bootstrap-checkbox/*
!/dist/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css
/dist/bootstrap-select/*
!/dist/bootstrap-select/dist
/dist/bootstrap-select/dist/js/i18n
/dist/sql-parser/lib
/dist/doT
