.flag {
    background-image: url(flags.png);
    background-repeat: no-repeat;
    display: inline-block;
}

.flag-al {
    width: 16px;
    height: 11px;
    background-position: 0 0;
}

.flag-de {
    width: 16px;
    height: 11px;
    background-position: -16px 0;
}

.flag-dk {
    width: 16px;
    height: 11px;
    background-position: -32px 0;
}

.flag-es {
    width: 16px;
    height: 11px;
    background-position: 0 -11px;
}

.flag-fr {
    width: 16px;
    height: 11px;
    background-position: -16px -11px;
}

.flag-gb {
    width: 16px;
    height: 11px;
    background-position: -32px -11px;
}

.flag-ir {
    width: 16px;
    height: 11px;
    background-position: 0 -22px;
}

.flag-it {
    width: 16px;
    height: 11px;
    background-position: -16px -22px;
}

.flag-nl {
    width: 16px;
    height: 11px;
    background-position: -32px -22px;
}

.flag-no {
    width: 16px;
    height: 11px;
    background-position: 0 -33px;
}

.flag-pl {
    width: 16px;
    height: 11px;
    background-position: -16px -33px;
}

.flag-pt-PT {
    width: 16px;
    height: 11px;
    background-position: -32px -33px;
}

.flag-pt-BR {
    width: 16px;
    height: 11px;
    background-position: -48px -22px;
}

.flag-ro {
    width: 16px;
    height: 11px;
    background-position: -48px 0;
}

.flag-ru {
    width: 16px;
    height: 11px;
    background-position: -48px -11px;
}

.flag-ar {
    width: 16px;
    height: 11px;
    background-position: -48px -33px;
}

.flag-tr {
    width: 16px;
    height: 11px;
    background-position: 0 -44px;
}

.flag-zh-CN {
  width: 16px;
  height: 11px;
  background-position: -16px -44px;
}

.flag-az {
  width: 16px;
  height: 11px;
  background-position: -32px -44px;
}

.flag-cs {
  width: 16px;
  height: 11px;
  background-position: -48px -44px;
}

.flag-ua {
  width: 16px;
  height: 11px;
  background-position: 0 -55px;
}

.flag-bg {
  width: 16px;
  height: 11px;
  background-position: -16px -55px;
}

.flag-el {
  width: 16px;
  height: 11px;
  background-position: -32px -55px;
}

.flag-he {
  width: 16px;
  height: 11px;
  background-position: -48px -55px;
}
