.syntaxhighlighter
{
  background-color: #f7f7f9 !important;
}

/* Highlighed line number */
.syntaxhighlighter .line.highlighted .number
{
	background-color: #ddd !important;
	color: black !important;
}

/* Highlighed line */
.syntaxhighlighter .line.highlighted.alt1 .content,
.syntaxhighlighter .line.highlighted.alt2 .content
{
	background-color: #ddd !important;
}

/* Gutter line numbers */
.syntaxhighlighter .line .number
{
	color: #aaa !important;
}

/* Add border to the lines */
.syntaxhighlighter .line .content
{
	border-left: 2px solid #ccc !important;
	color: #000 !important;
}

.syntaxhighlighter.printing .line .content 
{
	border: 0 !important;
}

/* First line */
.syntaxhighlighter .line.alt1 .content
{
	background-color: #fafafa !important;
}

/* Second line */
.syntaxhighlighter .line.alt2 .content
{
	background-color: #fafafa !important;
}

.syntaxhighlighter .line .content .block
{
/*  background: url(wrapping.png) 0 14px no-repeat !important;*/
}

.syntaxhighlighter .ruler
{
	color: silver !important;
	background-color: #F8F8F8 !important;
	border-left: 3px solid #6CE26C !important;
}

.syntaxhighlighter.nogutter .ruler
{
	border: 0 !important;
}

.syntaxhighlighter .toolbar
{
	background-color: #ddd !important;
}

.syntaxhighlighter .toolbar a
{
	color: #a0a0a0 !important;
}

.syntaxhighlighter .toolbar a:hover
{
	color: red !important;
}

/************************************
 * Actual syntax highlighter colors.
 ************************************/
.syntaxhighlighter .plain,
.syntaxhighlighter .plain a
{ 
	color: #000 !important;
}

.syntaxhighlighter .comments,
.syntaxhighlighter .comments a
{ 
	color: #999988 !important;
	font-style: italic !important;
}

.syntaxhighlighter .string,
.syntaxhighlighter .string a
{
	color: #D81745 !important; 
}

.syntaxhighlighter .keyword
{ 
	font-weight: bold !important; 
}

.syntaxhighlighter .preprocessor 
{ 
	color: gray !important; 
}

.syntaxhighlighter .regex
{
  color: #159828;
}

.syntaxhighlighter .numbers
{
  color:#1C9898;
}

.syntaxhighlighter .expr
{
  color:#D81745;
}

.syntaxhighlighter .method
{
  font-style: italic;
}

.syntaxhighlighter .variable 
{ 
	color: #177F80 !important; 
}

.syntaxhighlighter .value
{ 
	color: red !important; 
}

.syntaxhighlighter .functions
{ 
	color: #990000 !important; 
	font-weight:bold !important;
}

.syntaxhighlighter .constants
{ 
	color: #177F80 !important; 
}

.syntaxhighlighter .script
{ 
	background-color: yellow !important;
}

.syntaxhighlighter .color1,
.syntaxhighlighter .color1 a
{ 
	color: #177F80 !important; 
}

.syntaxhighlighter .color2,
.syntaxhighlighter .color2 a
{ 
	color: #960B73 !important; 
}

.syntaxhighlighter .color3,
.syntaxhighlighter .color3 a
{ 
	color: red !important; 
}

/** end ugliness */

